/*  your css code here. If applicable */
body{
	background-color: #EEEEEE;
}
.heading{
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px;
}

.latest-news-section{
	margin: 5px 5px;
	border-radius: 20px;
	text-align: center;
	margin-left: 20px;
	background-color: white;
	padding: 20px 20px;
	width: 20%;
	float: left;
}
.second{
	background-color: white;
	border-radius: 20px;
	text-align: center;
	margin: 5px 5px;
	padding: 20px 20px;
	width: 40%;
	float: left;
}
.pictorial-news-section{
	margin: 5px 5px;
	background-color: white;
	padding: 20px 20px;
	text-align: center;
	border-radius: 20px;
	line-height: 26px;
	width: 21%;
	float: left;
}
img{
	max-width: 100%;
	max-height: 100%;
}
ul{
	text-align: center;
}